body {
    font-family: Arial, sans-serif;
}

#darbuotojai-container {
    margin-bottom: 20px;
}

.darbuotojas {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}